<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white" >Edit Match N° {{id}}</h1>

            </div>
        </div>
        
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12"> 


                <div class="form-group" [formGroup]="matchForm">
                    <div class="site-section bg-dark">
                        <div class="container">
                            <div class="row">
    
                                <div class="col-lg-12">
    
                                    <div class="widget-next-match">
                                        <table class="table custom-table" >
                                            <thead>
                                                <!-- <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Age</th>
                                            <th>Number</th>
                                            <th>Poste</th> 
                                            <th>Team</th>
                                        </tr> -->  
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Team 1</th>
                                                    <th>Team 2</th>
                                                    <th>Score 1</th>
                                                    <th>Score 2</th>
                                                    <th>Logo 1</th>
                                                    <th>Logo 2</th>
                                                </tr>
                                            </thead>
                                            <tbody > 
                                                <tr >
                                                    <td>{{match.id}}</td>
                                                    <td>{{match.team1}}</td>
                                                    <td>{{match.team2}}</td>
                                                    <td>{{match.score1}}</td>
                                                    <td>{{match.score2}}</td>
                                                    <td>{{match.logo1}}</td>
                                                    <td>{{match.logo2}}</td>
    
                                                </tr>
                                                <tr > 
                                                    <td></td>

                                                    <td>
                                                        <input type="text" class="form-control" formControlName="team1" placeholder="Team 1">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="team2" placeholder="Team 2" >

                                                    </td>
                                                    <td> 
                                                        <input type="number" class="form-control" formControlName="score1" placeholder="Score 1" >
                                                    </td>
                                                    <td>
                                                        <input type="number" class="form-control" formControlName="score2" placeholder="Score 2">
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="logo1" placeholder="Logo 1">

                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="logo2" placeholder="Logo 2">

                                                    </td>

                                                </tr>
    
    
                                            </tbody>
                                        </table>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" (click)="editTheMatch()" class="btn btn-primary py-3 px-5" value="Edit">

                        <button type="reset" class="btn btn-primary py-3 px-5" routerLink="/admin" style="margin-left: 50px;">Cancel</button>



                </div>

            </div>

        </div>
    </div>
</div>