<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white" >Add Player</h1>

            </div>
             
        </div>
         
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form [formGroup]="playerForm" >
                    <input type="number" class="form-control" formControlName="id" placeholder="ID" >

                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="name" placeholder="Name">
                        <div
                            *ngIf="playerForm.controls['name'].invalid && (playerForm.controls['name'].dirty || playerForm.controls['name'].touched)">

                            <div *ngIf="playerForm.controls['name'].errors.required" class="text-danger">
                                Name is required

                            </div>
                            <div *ngIf="playerForm.controls['name'].errors.minlength" class="text-danger">
                                Name must have at least 3 characters

                            </div>
                        </div>
                        <input type="number" class="form-control" formControlName="number" placeholder="N°">

                        <input type="text" class="form-control" formControlName="team" placeholder="Team">
                        <div
                            *ngIf="playerForm.controls['team'].invalid && (playerForm.controls['team'].dirty || playerForm.controls['team'].touched)">

                            <div *ngIf="playerForm.controls['team'].errors.required" class="text-danger">
                                Team is required

                            </div>
                            <div *ngIf="playerForm.controls['team'].errors.minlength" class="text-danger">
                                Team must have at least 3 characters

                            </div>
                        </div>
                        <input type="text" class="form-control" formControlName="poste" placeholder="Poste">
                        <div
                            *ngIf="playerForm.controls['poste'].invalid && (playerForm.controls['poste'].dirty || playerForm.controls['poste'].touched)">

                            <div *ngIf="playerForm.controls['poste'].errors.required" class="text-danger">
                                Poste is required

                            </div>
                            <div *ngIf="playerForm.controls['poste'].errors.minlength" class="text-danger">
                                Poste must have at least 3 characters

                            </div>
                        </div>
                        <input type="number" class="form-control" formControlName="age" placeholder="Age">


                        <!-- <div class="form-group">
                        <input type="password" class="form-control" formControlName="user.pwd" 
                         placeholder="password">
                    </div> -->


                        <div class="form-group" >
                            <input type="submit" (click)="addplayer()" class="btn btn-primary py-3 px-5" value="Add">
                            <button type="reset" class="btn btn-primary py-3 px-5" routerLink="/player" style="margin-left: 50px;">Cancel</button>

                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>